*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 55px;
    background-color: yellow;
    display: flex;
    align-items: center;
    z-index: 9999;
    top: 0;
    justify-content: space-around;
}
.home{
    width: 1350px;
    margin: auto;
    height:700px;
    border: 1px solid wheat;
}
.home img{
    width: 1350px;
    height: 700px;
    position: absolute;
}
.p{
    position: relative;
    margin-left: 200px;
    margin-top: 140px;
    color: white;
}
.font{
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.smal{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bold{
    font-size: 23px;
    font-weight: 700;
}
.home button{
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: red;
    color: white;
    border-radius: 4px;
    margin-top: 40px;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    min-width:50px ;
    height: 55px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
li a{
    text-decoration: none;
    color: rgb(0, 60, 255);
}
.nav{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    height: 2000px;
    
}
.head{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 10%;
}
.card_header{
    width: 1200px;
    height: 1000px;
}
.cards{
    width:1200px;
    height: 430px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.card{
    width: 350px;
    height: 430px;
    border: 1px solid;
    background-color: blue;
    color: white;
    padding: 10px 10px 10px 10px;
}
.img{
    width: 325px;
    height: 200px;
}
.text{
    width: 325px;
    height: 180px;
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.card1{
    width: 560px;
    height: 430px;
    border: 1px solid;
    background-color: blue;
    color: white;
    padding: 10px 10px 10px 10px;
}
.img1{
    width: 535px;
    height: 225px;
}
.text1{
    width: 535px;
    height: 180px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.about-card{
    margin-top: 200px;
    width: 1200px;
    height: 500px;
}
.card_img{
    width: 450px;
    height: 440px;
}
.about_card{
    width: 690px;
    height: 440px;
}
.about_item{
    width: 680px;
    height: 70px;
    margin-top: 18px;
}
.line{
    width: 680px;
    height: 15px;
    background-color: gainsboro;
}
.background1{
    width: 100%;
    height: 15px;
    background-color: blue;
}
.background2{
    width: 85%;
    height: 15px;
    background-color: blue;
}
.background3{
    width: 58%;
    height: 15px;
    background-color: blue;
}
.background4{
    width: 70%;
    height: 15px;
    background-color: blue;
}
.text2{
    display: flex;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
}
.contact{
    width: 100%;
    height: 150px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boglanish{
    display: flex;
}
.tel{
    display: flex;
    font-size:25px;
    align-items: center;
    color: white;
}
.tel i{
    margin-right: 10px;
    margin-left: 20px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.email i{
    margin-right: 10px;
    margin-left: 20px;
}
.email{
    display: flex;
    align-items: center;
    font-size:25px;
    color: white;
}
ul li a:hover{
    color: red;
}
.icon{
    font-size: 38px;
    display: flex;
}
.icon i{
    margin-left: 20px;
    color: white;
}
.fa-facebook:hover{
    color: blue;
}
.fa-twitter:hover{
    color: blue;
}
.fa-google-play:hover{
    color: wheat;
}
.fa-vk:hover{
    color: blue;
}
.fa-instagram:hover{
    color: red;
}
@media only screen and (max-width: 600px) {
    .navbar{
        height: 30px;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
    }
    ul{
        display: none;
    }
    .nav{
        font-size: 12px;
    }
    .home img{
        width: 400px;
        height: 400px;
    }
    .p{
        margin-left: 20px;
    }
    .font{
        font-size: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .smal{
        font-size: 6px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .bold{
        font-size: 8px;
        font-weight: 700;
    }
    .p button{
        width:70px ;
        margin-top: 30px;
        height: 23px;
        font-size: 7px;
    }
    .container{
        width: 100%;
    }
    .cards{
        width: 272px;
        flex-wrap: wrap;
    }
    .s{
        margin-top: 860px;
    }
    .card1{
        width: 450px;
    }
    .text1{
        width: 250px;
        font-size: 8px;
    }
    .card1{
        width:272px;
    }
    .head{
        font-size: 5px;
        margin: 30px 70px -30px;
    }
    .img1{
        width: 100%;
    }
    .card_img{
        width: 20%;
        height: 300px;
    }
    .home{
        width: 100%;
        height: 400px;
    }
    .text{
        width: 250px;
        font-size: 18px;
    }
    .img{
        width: 250px;
    }
    .card_img img{
        display: none;
    }
    .contact{
    }
}
@media only screen and (min-width: 280px) {
    .card{
        width: 100%;
    }
    .cards{

        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 640px) {
    .card{
        width: 500px;
    }
    .cards{
        display: block;
    }
    .s{
        margin-top: 900px;
    }
}
@media only screen and (min-width: 740px) {

}
@media only screen and (min-width: 860px) {
    .navbar i{
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .home img{
        width: 100%;
    }
    .p{
        margin-left: 10px;
    }
    .font{
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .smal{
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .bold{
        font-size: 20px;
        font-weight: 700;
    }
    .p button{
        width:90px ;
        margin-top: 30px;
        height: 33px;
        font-size: 7px;
    }

}
@media only screen and (min-width: 1200px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .navbar{
        width: 100%;
        height: 55px;
        background-color: yellow;
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 9999;
        top: 0;
        justify-content: space-around;
    }
    .home{
        width: 1350px;
        margin: auto;
        height:700px;
        border: 1px solid wheat;
    }
    .home img{
        width: 1350px;
        height: 700px;
        position: absolute;
    }
    .p{
        position: relative;
        margin-left: 200px;
        margin-top: 140px;
        color: white;
    }
    .font{
        font-size: 34px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .smal{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .bold{
        font-size: 23px;
        font-weight: 700;
    }
    .home button{
        width: 120px;
        height: 35px;
        font-size: 15px;
        background-color: red;
        color: white;
        border-radius: 4px;
        margin-top: 40px;
    }
    ul{
        display: flex;
    }
    ul li{
        list-style-type: none;
        min-width:50px ;
        height: 55px;
        padding: 0px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    li a{
        text-decoration: none;
        color: rgb(0, 60, 255);
    }
    .nav{
        font-size: 23px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .container{
        width: 1200px;
        margin: auto;
        height: 2000px;
        
    }
    .head{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-top: 30px;
        margin-left: 10%;
    }
    .card_header{
        width: 1200px;
        height: 1000px;
    }
    .cards{
        width:1200px;
        height: 430px;
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }
    .card{
        width: 30%;
        height: 430px;
        border: 1px solid;
        background-color: blue;
        color: white;
        padding: 10px 10px 10px 10px;
    }
    .img{
        width: 338px;
        height: 200px;
    }
    .text{
        width: 325px;
        height: 180px;
        margin-top: 25px;
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .card1{
        width: 560px;
        height: 430px;
        border: 1px solid;
        background-color: blue;
        color: white;
        padding: 10px 10px 10px 10px;
    }
    .img1{
        width: 535px;
        height: 225px;
    }
    .text1{
        width: 535px;
        height: 180px;
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .about-card{
        margin-top: 200px;
        width: 1200px;
        height: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card_img{
        width: 450px;
        height: 440px;
    }
    .about_card{
        width: 690px;
        height: 440px;
        
    }
    .about_item{
        width: 680px;
        height: 70px;
        margin-top: 18px;
    }
    .line{
        width: 680px;
        height: 15px;
        background-color: gainsboro;
    }
    .background1{
        width: 100%;
        height: 15px;
        background-color: blue;
    }
    .background2{
        width: 85%;
        height: 15px;
        background-color: blue;
    }
    .background3{
        width: 58%;
        height: 15px;
        background-color: blue;
    }
    .background4{
        width: 70%;
        height: 15px;
        background-color: blue;
    }
    .text2{
        display: flex;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: space-between;
    }
    .contact{
        width: 100%;
        height: 150px;
        background-color: orangered;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .boglanish{
        display: flex;
    }
    .tel{
        display: flex;
        font-size:25px;
        align-items: center;
        color: white;
    }
    .tel i{
        margin-right: 10px;
        margin-left: 20px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .email i{
        margin-right: 10px;
        margin-left: 20px;
    }
    .email{
        display: flex;
        align-items: center;
        font-size:25px;
        color: white;
    }
    ul li a:hover{
        color: red;
    }
    .icon{
        font-size: 38px;
        display: flex;
    }
    .icon i{
        margin-left: 20px;
        color: white;
    }
    .fa-facebook:hover{
        color: blue;
    }
    .fa-twitter:hover{
        color: blue;
    }
    .fa-google-play:hover{
        color: wheat;
    }
    .fa-vk:hover{
        color: blue;
    }
    .fa-instagram:hover{
        color: red;
    }
}